// compileNested: ../public/css/style.css

//colors
$color_gallery_approx: #eee;
$white: #fff;
$color_mystic_approx: #e6ecf0;
$color_grey_notification: #657786;
$blue: #0099ff;
$gray: #ececec;
$light-gray: whitesmoke;

//@extend-elements
//original selectors
//input, textarea, button
%extend_1 {
	display: inline-block;
	width: 222px !important;
	padding: 2px 4px !important;
	font-size: 14px !important;
	margin: 0;
	outline: 0;
	background-color: $white;
	border: 1px solid $color_mystic_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 0px !important;
}

.navbar-default {
	border-radius: 0px;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 2px rgba(0, 0, 0, 0.35);
}
h2 {
	font-size: 22px !important;
	font-weight: 700 !important;
}
form {
	input {
		@extend %extend_1;
	}
	textarea {
		@extend %extend_1;
	}
	button {
		@extend %extend_1;
	}
}

.messages {

	.message {
	  box-sizing: border-box;
	  padding: 8px 10px;
	  max-width: 400px;
	  margin: 5px 10px;
	  border-radius: 15px;
	  position: relative;
	  clear: both;
	  font-size: 14px;
	  word-wrap: break-word;
	}
	.right {
	  float: right;
	  color: #fff;
	  background-color: $blue;
	  &::before {
	    content: '';
	    border: solid 10px;
	    border-color: transparent transparent $blue;
	    position: absolute;
	    float: right;
	    right: -7px;
	    bottom: 2px;
	  }
	}
	.left {
	  float: left;
	  background-color: $gray;
	  &::after{
	    content: '';
	    border: solid 10px;
	    border-color: transparent transparent $gray;
	    position: absolute;
	    z-index: 1;
	    bottom: 2px;
	    left: -7px;
	  }
	}
}

.form-container {
	padding: 20px 0px;
	background-color: white;
}

.table {
	background-color: white;

	tbody {
		tr {
			td {
				vertical-align: middle
			}
		}
	}
}

.form-signin {
	max-width: 500px !important;

	.setting-group {
		margin-bottom: 10px !important;

		.setting {
			display: block;
			margin-left: 140px;

			input {
				margin-bottom: 5px;
				margin-right: 5px;
				margin-left: 2px;
				display: inline-block;
			}

			label.prefix {
				display: inline-block;
				font-weight: 200;
			}

			label.notification {
				display: inline-block;
				font-size: 10px;
				color: green;
				font-weight: 200;

				&.error {
					color: red;
				}
			}

			label.information {
				font-size: 10px;
				color: $color_grey_notification;
				max-width: 200px;
				padding-left: 4px;
				font-weight: 200;
			}

			button {
				border-radius: 10px !important;
			}
		}
		.setting-label {
			float: left;
			width: 120px;
			padding-top: 5px;
			text-align: right;
			margin: 0;
			font-size: 14px;
			line-height: 20px;
			border-bottom: 0;
			font-weight: 200;
		}
	}

	.form-signin-heading {
		margin-bottom: 10px;
	}
	.checkbox {
		margin-bottom: 10px;
		font-weight: normal;
	}
	.form-control {
		position: relative;
		height: auto;
		//Instead of the line below you could use @include box-sizing($bs)
		box-sizing: border-box;
		padding: 10px;
		font-size: 16px;
		&:focus {
			z-index: 2;
		}
	}
	input[type="email"] {
		margin-bottom: -1px;
		//Instead of the line below you could use @include border-bottom-right-radius($radius)
		border-bottom-right-radius: 0;
		//Instead of the line below you could use @include border-bottom-left-radius($radius)
		border-bottom-left-radius: 0;
	}
	input[type="password"] {
		margin-bottom: 10px;
		//Instead of the line below you could use @include border-top-left-radius($radius)
		border-top-left-radius: 0;
		//Instead of the line below you could use @include border-top-right-radius($radius)
		border-top-right-radius: 0;
	}
}
body {
	background-color: $color_gallery_approx;
}
