extends layout

block variables
  title !{tim(strings.dashboard.title)} - Transcord

block content
  main.mdl-layout__content.bg
    div.mdl-grid(style="max-width:900px")

      include sidebar

      div.mdl-card.mdl-cell.mdl-cell--8-col
        div.mdl-card__title.mdl-color--primary.mdl-color-text--white
          h2.mdl-card__title-text Calls
        
          <form action="#">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
              <label class="mdl-button mdl-js-button mdl-button--icon" for="sample6">
                <i class="material-icons">search</i>
              </label>
              <div class="mdl-textfield__expandable-holder">
                <input class="mdl-textfield__input" type="text" id="sample6">
                <label class="mdl-textfield__label" for="sample-expandable">Expandable Input</label>
              </div>
            </div>
          </form>
        div#recording-card-container.mdl-grid.table-grid
          // if there's no transcription, give user a notice
          if user.recordings.length == 0
            div.mdl-card.mdl-cell.mdl-cell--12-col(style="border-radius:5px")
              div.mdl-card__supporting-text
                p No calls have been made yet.
          
          div#recording-card-template.mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--12-col(data-recordingSid="templateSid" style="display:none")
              div.mdl-card__supporting-text
                div.mdl-grid
                  div.mdl-card.mdl-cell.mdl-cell--4-col
                    b(style="font-weight:500")
                      i.call-made-button.material-icons.direction-icon(style="display:none") call_made
                      i.call-received-button.material-icons.direction-icon(style="display:none") call_received
                    p.call-start-date(style="font-weight:300")
                  div.mdl-card.mdl-cell.mdl-cell--8-col(style="overflow:visible")
                    p.still-processing Still processing...
                    audio.done-processing.audio(crossorigin=true playsinline=true)
                        source(type="audio/wav")
                        div.mdl-progress.mdl-js-progress.mdl-progress__indeterminate
              div.mdl-card__actions.mdl-card--border
                div(style="float:right")
                  button.still-processing.mdl-button.mdl-js-button.mdl-button--icon.mdl-button--accent.mdl-color-text--primary
                    i.icon.material-icons.rotate autorenew
                    div.mdl-tooltip.mdl-tooltip--left Still processing
                  div.done-processing 
                    button.mdl-button.mdl-js-button.mdl-button--icon.mdl-button--accent.mdl-color-text--primary
                      i.download-button.icon.material-icons save_alt
                      div.mdl-tooltip.mdl-tooltip--top(data-mdl-for="download-button") Download audio
                    button.delete-button.mdl-button.mdl-js-button.mdl-button--icon.mdl-button--accent.mdl-color-text--primary
                      i.delete-button.icon.material-icons delete
                      div.mdl-tooltip.mdl-tooltip--top(data-mdl-for="delete-button") Delete
                    button.transcript-button.mdl-button.mdl-button--accent.mdl-js-button.mdl-color-text--primary.mdl-js-ripple-effect !{tim(strings.dashboard.transcriptButton)}
        div.mdl-grid.table-grid
          div#pagination-container.mdl-card.mdl-cell.mdl-cell--12-col
                  ul.pagination.mdl-list
                    li.left-pagination
                      div.page
                        i.material-icons chevron_left
                    li.paginator
                      //a(href="/dashboard/calls/" + y*paginationCount) 1
                    li.right-pagination
                      div.page
                        i.material-icons chevron_right
          
    //include footer

block js
  script(src="//cdn.plyr.io/3.4.3/plyr.js")
  script(src="/js/libs/jquery.ba-bbq.min.js")
  script(src="/js/recordings.js")
