div.information-section
      div.information-grid.mdl-grid
         div.mdl-cell.mdl-cell--12-col
          div.mdl-grid
            div.information-holder.mdl-card.mdl-shadow--160dp.mdl-cell.mdl-cell--4-col.mdl-cell--12-col-mobile
              div.information-company.mdl-card__supporting-text
                | !{tim(strings.shared.copyright)}
                br
                | !{tim(strings.shared.rights)}
            div.mdl-layout-spacer
            div.information-holder.mdl-card.mdl-shadow--160dp.mdl-cell.mdl-cell--4-col.mdl-cell--12-col-mobile
              div.information-contact.mdl-card__supporting-text
                div
                  img(src='img/white-logo.png')
                br
                a(href='mailto:' + strings.shared.supportEmail) !{tim(strings.shared.supportEmail)}
                br
                a(href='callto: ' + strings.shared.supportNumber) !{tim(strings.shared.supportNumber)}