div.information-section
      div.information-grid.mdl-grid
         div.mdl-cell.mdl-cell--12-col
          div.mdl-grid
            div.information-holder.mdl-card.mdl-shadow--160dp.mdl-cell.mdl-cell--4-col.mdl-cell--12-col-mobile
              div.information-company.mdl-card__supporting-text
                | © 2018 Transcord, LLC
                br
                | All rights reserved.
            div.mdl-layout-spacer
            div.information-holder.mdl-card.mdl-shadow--160dp.mdl-cell.mdl-cell--4-col.mdl-cell--12-col-mobile
              div.information-contact.mdl-card__supporting-text
                div
                  img(src='img/white/logo.png')
                br
                a(href='mailto:support@transcord.app') support@transcord.app
                br
                a(href='call:415-483-0085') 415-483-0085