extends layout

block content
  main.mdl-layout__content.bg.bg-login
    a(name="top")
    div.welcome-section(style="height:100%")
      div.welcome-display
        div.welcome-text
          div.mdl-typography--display-2.mdl-typography--font-thin Transcord
          p.mdl-typography--headline.mdl-typography--font-thin Call recording and transcription
          p
            a(href='/register')
              button.mdl-button--raised.mdl-button.mdl-button--accent.mdl-js-button.mdl-js-ripple-effect.mdl-color-text--white Register
