extends layout

block content
  a(name="top")
  div.android-be-together-section.mdl-typography--text-center
    div.logo-font.android-slogan be together. not the same.
    div.logo-font.android-sub-slogan welcome to android... be yourself.
