extends layout

block content
  main.mdl-layout__content.bg.bg-login
    a(name="top")
    div.welcome-section
      div.welcome-display
        div.welcome-text
          div.welcome-title.mdl-typography--display-2 
            img(src='img/white/logo.png')
          p.welcome-description.mdl-typography--headline.mdl-typography--font-thin Artifically intelligent call recording and transcription
          p
            a(href='/register')
              button.mdl-button--raised.mdl-button.mdl-button--accent.mdl-js-button.mdl-js-ripple-effect.mdl-color-text--white Register
    div.features-section
      div.features-display
        div.mdl-grid
          div.mdl-layout-spacer
          div.mdl-cell.mdl-cell--8-col
            div.mdl-grid
              div.mdl-cell.mdl-cell--12-col
                div.mdl-grid.features-item
                  div.feature-image.mdl-card.mdl-shadow--160dp.mdl-cell.mdl-cell--6-col.mdl-cell--12-col-tablet
                    img(src='https://thumb1.shutterstock.com/display_pic_with_logo/4543750/565595476/stock-photo-young-business-woman-in-gray-dress-sitting-at-table-in-cafe-talking-oncell-phone-while-taking-565595476.jpg')
                  div.mdl-card.mdl-shadow--160dp.mdl-cell.mdl-cell--6-col.mdl-cell--12-col-tablet
                    div.mdl-card__title.feature-title
                      h3.mdl-card__title-text High quality, dual-channel call recording
                    div.mdl-card__supporting-text.feature-description
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sodales neque turpis, nec laoreet erat maximus vel. Fusce lacinia blandit tortor non cursus. Vestibulum sodales neque turpis, nec laoreet erat maximus vel. Fusce lacinia blandit tortor non cursus.
            div.mdl-grid
              div.mdl-cell.mdl-cell--12-col
                div.mdl-grid.features-item
                  div.mdl-card.mdl-shadow--160dp.mdl-cell.mdl-cell--6-col.mdl-cell--12-col-tablet
                    div.mdl-card__title.feature-title
                      h3.mdl-card__title-text AI-driven transcriptions
                    div.mdl-card__supporting-text.feature-description
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sodales neque turpis, nec laoreet erat maximus vel. Fusce lacinia blandit tortor non cursus. Vestibulum sodales neque turpis, nec laoreet erat maximus vel. Fusce lacinia blandit tortor non cursus.
                  div.feature-image.mdl-card.mdl-shadow--160dp.mdl-cell.mdl-cell--6-col.mdl-cell--12-col-tablet
                    img(src='https://thumb9.shutterstock.com/display_pic_with_logo/177507050/1061069282/stock-photo-global-network-blockchain-d-illustration-neural-networks-and-artificial-intelligence-abstract-1061069282.jpg')
            div.mdl-grid
              div.mdl-cell.mdl-cell--12-col
                div.mdl-grid.features-item
                  div.feature-image.mdl-card.mdl-shadow--160dp.mdl-cell.mdl-cell--6-col.mdl-cell--12-col-tablet
                    img(src='https://thumb7.shutterstock.com/display_pic_with_logo/3410570/552589921/stock-photo-closeup-red-marks-on-proofreading-english-document-552589921.jpg')
                  div.mdl-card.mdl-shadow--160dp.mdl-cell.mdl-cell--6-col.mdl-cell--12-col-tablet
                    div.mdl-card__title.feature-title
                      h3.mdl-card__title-text Instant email summarization
                    div.mdl-card__supporting-text.feature-description
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sodales neque turpis, nec laoreet erat maximus vel. Fusce lacinia blandit tortor non cursus. Vestibulum sodales neque turpis, nec laoreet erat maximus vel. Fusce lacinia blandit tortor non cursus.
          div.mdl-layout-spacer
    div.calltoaction-section
      div.calltoaction-display
        div.calltoaction-text
          p.mdl-typography--headline.mdl-typography--font-thin Instant call recording and transcription
          p
            a(href='/register')
              button.mdl-button--raised.mdl-button.mdl-button--accent.mdl-js-button.mdl-js-ripple-effect.mdl-color-text--white Get $5 free credit
    include footer