extends layout

block content
  main.mdl-layout__content.bg.bg-login
    a(name="top")
    div.welcome-section
      div.welcome-display
        div.welcome-text
          div.welcome-title.mdl-typography--display-2 
            img(src='img/white/logo.png')
          p.welcome-description.mdl-typography--headline.mdl-typography--font-thin Automatically record & transcribe all of your calls.
          p
            a(href='/register')
              button.mdl-button--raised.mdl-button.mdl-button--accent.mdl-js-button.mdl-js-ripple-effect.mdl-color-text--white Try it for free
    div.features-section
      div.features-display
        div.mdl-grid
          div.mdl-layout-spacer
          div.mdl-cell.mdl-cell--8-col
            div.mdl-grid
              div.mdl-cell.mdl-cell--12-col
                div.mdl-grid.features-item
                  div.feature-image.mdl-card.mdl-shadow--160dp.mdl-cell.mdl-cell--6-col.mdl-cell--12-col-tablet
                    img(src='img/microphone-icon.png')
                  div.mdl-card.mdl-shadow--160dp.mdl-cell.mdl-cell--6-col.mdl-cell--12-col-tablet
                    div.mdl-card__title.feature-title
                      h3.mdl-card__title-text High quality, dual-channel call recording
                    div.mdl-card__supporting-text.feature-description
                      p We use sophisticated technologies to independently record both sides of the conversation in crystal-clear high quality.
            div.mdl-grid
              div.mdl-cell.mdl-cell--12-col
                div.mdl-grid.features-item
                  div.mdl-card.mdl-shadow--160dp.mdl-cell.mdl-cell--6-col.mdl-cell--12-col-tablet
                    div.mdl-card__title.feature-title
                      h3.mdl-card__title-text AI-driven transcriptions
                    div.mdl-card__supporting-text.feature-description
                      p Our AI-powered algorithms delivers near instantaneous transcriptions, and synchronize the output with the call audio.
                  div.feature-image.mdl-card.mdl-shadow--160dp.mdl-cell.mdl-cell--6-col.mdl-cell--12-col-tablet
                    img(src='img/cog-icon.png')
            div.mdl-grid
              div.mdl-cell.mdl-cell--12-col
                div.mdl-grid.features-item
                  div.feature-image.mdl-card.mdl-shadow--160dp.mdl-cell.mdl-cell--6-col.mdl-cell--12-col-tablet
                    img(src='img/email-icon.png')
                  div.mdl-card.mdl-shadow--160dp.mdl-cell.mdl-cell--6-col.mdl-cell--12-col-tablet
                    div.mdl-card__title.feature-title
                      h3.mdl-card__title-text Instant email summarization
                    div.mdl-card__supporting-text.feature-description
                      p The transcriptions of your calls are emailed to you seconds after hanging up, and you can explore the call through our website, seeing the conversation in its natural form.
            div.mdl-grid
              div.mdl-cell.mdl-cell--12-col
                div.mdl-grid.features-item
                  div.mdl-card.mdl-shadow--160dp.mdl-cell.mdl-cell--6-col.mdl-cell--12-col-tablet
                    div.mdl-card__title.feature-title
                      h3.mdl-card__title-text AI-driven transcriptions
                    div.mdl-card__supporting-text.feature-description
                      p Our AI-powered algorithms delivers near instantaneous transcriptions, and synchronize the output with the call audio.
                  div.feature-image.mdl-card.mdl-shadow--160dp.mdl-cell.mdl-cell--6-col.mdl-cell--12-col-tablet
                    img(src='img/cog-icon.png')
            div.mdl-grid
              div.mdl-cell.mdl-cell--12-col
                div.mdl-grid.features-item
                  div.feature-image.mdl-card.mdl-shadow--160dp.mdl-cell.mdl-cell--6-col.mdl-cell--12-col-tablet
                    img(src='img/padlock-icon.png')
                  div.mdl-card.mdl-shadow--160dp.mdl-cell.mdl-cell--6-col.mdl-cell--12-col-tablet
                    div.mdl-card__title.feature-title
                      h3.mdl-card__title-text Secure data
                    div.mdl-card__supporting-text.feature-description
                      p Everything is done by our computers, and your call audio and transcriptions are stored securely in the cloud. No humans involved!
            
          div.mdl-layout-spacer
    div.calltoaction-section
      div.calltoaction-display
        div.calltoaction-text
          p.mdl-typography--headline.mdl-typography--font-thin Instant call recording and transcription
          p
            a(href='/register')
              button.mdl-button--raised.mdl-button.mdl-button--accent.mdl-js-button.mdl-js-ripple-effect.mdl-color-text--white Get $5 free credit
    include footer