block variables
  title Dashboard - Transcord

extends layout

block content
  div.mdl-grid.table-grid
    - user.recordings.forEach(function(recording) {
      div.recording-card.mdl-card.mdl-shadow--2dp.mdl-cell
        div.mdl-card__title
          h2.md-card__title-text Call numbers
        div.mdl-card__supporting-text
          !{recording.numberCalledFormatted}
        div.mdl-card__actions.mdl-card--border
          a.mdl-button.mdl-button--acent.mdl-js-button.mdl-js-ripple-effect(href='/dashboard/transcript/' + recording.recordingSid) Transcript
    - })
