block variables
  title Login - Transcord

extends layout

block content
  div.login-wrapper
    div.mdl-grid
      div.mdl-cell.mdl-cell--6-col
        div.mdl-card.mdl-shadow--6dp
          div.mdl-card__title.mdl-color--primary.mdl-color-text--white
            h2.mdl-card__title-text User login
          div.mdl-card__supporting-text.mdl-grid
            b.mdl-color-text--acent Error message goes here

            form(method='post' action='/login')
              div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-cell.mdl-cell--12-col.is-upgraded
                label.mdl-textfield__label.mdl-color-text--grey(for='textfield_username') Username
                input#textfield_username.mdl-textfield__input(type='text' name='username')

              div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-cell.mdl-cell--12-col.is-upgraded
                label.mdl-textfield__label.mdl-color-text--grey(for='textfield_password') Password
                input#textfield_username.mdl-textfield__input(type='password' name='password')

              input#submit-form(type='submit' class='hidden')

          div.mdl-card__actions.mdl-card--border
            div.mdl-grid
              button.mdl-cell.mdl-cell--12-col.mdl-button.mdl-button--raised.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect.mdl-color-text--white(for='submit-form') Sign in
            div.mdl-grid
              div.mdl-cell.mdl-cell--12-col
                a.mdl-color-text--primary(href='/register') Sign up!
                a.mdl-color-text--primary(style='float:right') Lost Password?
