block variables
  title Payment - Transcord

extends layout

block content
  main.mdl-layout__content.bg.bg-login
    div.login-wrapper
      div.mdl-grid
        div.mdl-cell.mdl-cell--6-col
          div.mdl-card.mdl-shadow--6dp
            div.mdl-card__title.mdl-color--primary.mdl-color-text--white
              h2.mdl-card__title-text Payment
            div.mdl-card__supporting-text.mdl-grid

              form#form-payment(novalidate role='form' method='post' action='/dashboard/payment')
                div.mdl-cell.mdl-cell--12-col
                  label.mdl-radio.mdl-js-radio.mdl-js-ripple-effect(for='option-1')
                    input#option-1.mdl-radio__button(type='radio' name="amount" value=500 checked)
                    span.mdl-radio__label $5
                  label.mdl-radio.mdl-js-radio.mdl-js-ripple-effect(for='option-2')
                    input#option-2.mdl-radio__button(type='radio' name="amount" value=1000)
                    span.mdl-radio__label $10
                  label.mdl-radio.mdl-js-radio.mdl-js-ripple-effect(for='option-3')
                    input#option-3.mdl-radio__button(type='radio' name="amount" value=2500)
                    span.mdl-radio__label $25
                  span.error.mdl-textfield__error(for="amount") Error message goes heres


                div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-cell.mdl-cell--12-col
                  label.mdl-textfield__label.mdl-color-text--grey(for='sq-card-number') Card Number
                  input#sq-card-number.mdl-textfield__input(type='text' name='sq-card-number')
                  span.error.mdl-textfield__error(for="sq-card-number") Error message goes heres

                div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-cell.mdl-cell--6-col
                  label.mdl-textfield__label.mdl-color-text--grey(for='sq-cvv') CVV
                  input#sq-cvv.mdl-textfield__input(type='text' name='sq-cvv')
                  span.error.mdl-textfield__error(for="sq-cvv") Error message goes heres

                div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-cell.mdl-cell--6-col
                  label.mdl-textfield__label.mdl-color-text--grey(for='sq-expiration-date') Expiration Date
                  input#sq-expiration-date.mdl-textfield__input(type='text' name='sq-expiration-date')
                  span.error.mdl-textfield__error(for="sq-expiration-date") Error message goes heres

                div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-cell.mdl-cell--12-col
                  label.mdl-textfield__label.mdl-color-text--grey(for='sq-postal-code') Zip
                  input#sq-postal-code.mdl-textfield__input(type='text' name='sq-postal-code')
                  span.error.mdl-textfield__error(for="sq-postal-code") Error message goes heres

                input#card-nonce(type="hidden" name="nonce")



                input#submit-form(type='submit' class='hidden')

            div.mdl-card__actions.mdl-card--border
              div.mdl-grid
                button#form-payment-button.mdl-cell.mdl-cell--12-col.mdl-button.mdl-button--raised.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect.mdl-color-text--white(for='submit-form' onclick="requestCardNonce(event)") Add credit

  block js
    script(type="text/javascript" src="https://js.squareup.com/v2/paymentform")
    script(src="/js/payment.js")
    //script(src="/js/validation.js")
