block variables
  title Profile - Transcord

extends layout

block content
  div.mdl-grid
    div.mdl-layout-spacer
    div.mdl-card.mdl-shadow--16dp.mdl-cell.mdl-cell--6-col
      div.mdl-card__title
        h1.mdl-card__title-text !{user.name}
      div.mdl-card__support-text
        p This is some text
    div.mdl-layout-spacer
