extends layout

block variables
  title !{tim(strings.resetSuccess.title)} - Transcord

block content
  main.mdl-layout__content.bg.bg-login
    div.login-wrapper
      div.mdl-grid
        div.mdl-cell.mdl-cell--6-col
          div.mdl-card.mdl-shadow--6dp
            div.mdl-card__title.mdl-color--primary.mdl-color-text--white
              h2.mdl-card__title-text !{tim(strings.resetSuccess.dialogTitle)}
            div.mdl-card__supporting-text.mdl-grid
              p !{tim(strings.resetSuccess.dialogDek)}
              

            div.mdl-card__actions.mdl-card--border
                div.mdl-grid
                  a(href='/')
                    button#form-payment-button.mdl-cell.mdl-cell--12-col.mdl-button.mdl-button--raised.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect.mdl-color-text--white(for='submit-form') !{tim(strings.resetSuccess.button)}