block variables
  title Reset password - Transcord

extends layout

block content
  main.mdl-layout__content.bg.bg-login
    div.login-wrapper
      div.mdl-grid
        div.mdl-cell.mdl-cell--6-col
          div.mdl-card.mdl-shadow--6dp
            div.mdl-card__title.mdl-color--primary.mdl-color-text--white
              h2.mdl-card__title-text Reset password
            div.mdl-card__supporting-text.mdl-grid

              form#form-reset(method='post' action='/reset')
                div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-cell.mdl-cell--12-col
                  label.mdl-textfield__label.mdl-color-text--grey(for='email') Email address
                  input#email.mdl-textfield__input(type='text' name='email')
                  span.error.mdl-textfield__error(for="email") Error message goes heres

                input#submit-form(type='submit' class='hidden')

            div.mdl-card__actions.mdl-card--border
              div.mdl-grid
                button#form-reset-button.mdl-cell.mdl-cell--12-col.mdl-button.mdl-button--raised.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect.mdl-color-text--white(for='submit-form') Reset
              
block js
  script(src="/js/validation.js")
