extends layout

block content
  main.mdl-layout__content.bg.bg-login
    div.mdl-grid
        div.mdl-cell.mdl-cell--12-col.mdl-card.mdl-shadow--4dp
            div.mdl-card__title
                h2.mdl-card__title-text Terms
            div.mdl-card__supporting-text
                strong Effective Date &nbsp;
                span August 10, 2018
            div.mdl-grid
                div.mdl-cell.mdl-cell--12-col.mdl-card__supporting-text.no-padding
                    p Coming soon
                
                
                
                
                
    