block variables
  title Login - Transcord

extends layout

block content
  .container
    form#form-login.form-signin(role='form', action='/login', method='post')
      h2.form-signin-heading Please sign in
      label.sr-only(for='inputEmail')

      div.form-container
        .setting-group.setting-username
          label.setting-label Username
          .setting
            input.form-control(type='text', name="username", id='inputEmail', placeholder='Username', required, autofocus)
            label.error.notification(for="username")
            label.information


        .setting-group.setting-password
          label.setting-label Password
          .setting
            input.form-control(type='password', name="password", id='inputPassword', placeholder='Password')
            label.error.notification(for="password")
            label.information

        .setting-group
          .setting
            button.btn.btn-lg.btn-primary.btn-block(type='submit') Login
