<style type="text/css">

#maintable {
    border-spacing: 0;
    border-collapse: collapse;
    width: 590px;
    text-align: center;
    background-color: #25b9c8;
    margin: 0 auto;
}

#contenttable {
    border-collapse:collapse;
    background-color:#f1e900;
    margin:0 auto
}

.header-padding {
    height: 40px;
}

.header-container {
    color:#ffffff;
    text-align:center;
    font-family:Helvetica,Arial;
    font-weight:lighter;
    font-size:24px;
    width:100px;
    margin:auto;
    margin-bottom:25px
}

.logo {
    display:block;
    line-height:50%;
    float:left;
    border: 0;
}

</style>