extends layout

block content
                    table(style='background-color:#ffffff;text-align:center;width:100%;margin:0 auto;')
                      tbody
                        tr(style="height:20px")
                        tr
                          td(style="padding: 0px 15px")
                            h2(style='color:#4a4a4a;text-align:center;font-size:24px;font-weight:lighter;font-family:Roboto, RobotoDraft, Helvetica, Arial, sans-serif') Password reset
                            p(style='color:#4a4a4a;font-size:16px;text-align:center;font-family:Roboto, RobotoDraft, Helvetica, Arial, sans-serif') Someone recently requested to reset your password.
                        tr(style="height:20px")
                        tr
                          td
                            table(style="text-align:center;margin:0 auto")
                              tbody
                                tr
                                  td(style="width:100px")
                                  td(style="width:400px;text-align: center;height: 40px;background-color:rgb(68,138,255);")
                                    a(style="text-decoration:none;color:white" href='https://' + config.hostname + '/reset/token/'+passwordReset.token target="_blank")
                                      p(style='text-align:center;vertical-align:middle;font-size:14px;font-family:Roboto, RobotoDraft, Helvetica, Arial, sans-serif;font-weight:bold') RESET PASSWORD
                                  td(style="width:100px")
                                tr(style="height:20px")

                      
                    