extends layout

block content
                    table(style='background-color:#ffffff;text-align:center;width:100%;margin:0 auto;')
                      tbody
                        tr(style="height:20px")
                        tr
                          td
                            h2(style='color:#4a4a4a;text-align:center;font-size:24px;font-weight:lighter;font-family:Roboto, RobotoDraft, Helvetica, Arial, sans-serif') Password changed
                            p(style='color:#4a4a4a;font-size:16px;text-align:center;font-family:Roboto, RobotoDraft, Helvetica, Arial, sans-serif') Your password has been changed. Please reply to this email if you didn't authorize this.
                        tr(style="height:20px")

                      
                    