extends layout

block content
                    table(style='background-color:#ffffff;text-align:center;width:100%;margin:0 auto;')
                      tbody
                        tr(style="height:20px")
                        tr
                          td(style="padding: 0px 15px")
                            p(style='color:#4a4a4a;font-size:16px;text-align:left;font-family:Roboto, RobotoDraft, Helvetica, Arial, sans-serif') Welcome !{user.name},
                            p(style='color:#4a4a4a;font-size:16px;text-align:left;font-family:Roboto, RobotoDraft, Helvetica, Arial, sans-serif') Thank you for choosing Transcord, a simple way to to record and transcribe all your incoming and outgoing phone calls. You can being using our service immediately by following the instructions below.
                            p(style='color:#4a4a4a;font-size:16px;text-align:left;font-family:Roboto, RobotoDraft, Helvetica, Arial, sans-serif')  If you have any questions, just reply to these email. It's as simple as that. One of us will be glad to help you get started.
                            p(style='color:#4a4a4a;font-size:16px;text-align:left;font-family:Roboto, RobotoDraft, Helvetica, Arial, sans-serif') The Transcord Team

                        tr(style="height:20px")
                        tr
                          td
                            div(style='padding: 0px;margin: inherit;display: flex;')
                              div
                              div(style="background: #f6f6f6;border-radius:5px;min-height: inherit;width:100%;margin: 8px;box-sizing: border-box;display: flex;flex-direction: column;font-size: 16px;font-weight: 400;overflow: hidden;z-index: 1;position: relative;border-radius:5px;padding:12px 15px")
                                div(style="width:100%")
                                  div(style='text-align:left')
                                    h4(style="margin: 0px;") Step 1
                                    p Pick up the phone, and dial your access number from your registered phone: #[a(href='tel:+19177088094') (917) 708-8094]


                        tr
                          td
                            div(style='padding: 0px;margin: inherit;display: flex;')
                              div
                              div(style="background: #f6f6f6;border-radius:5px;min-height: inherit;width:100%;margin: 8px;box-sizing: border-box;display: flex;flex-direction: column;font-size: 16px;font-weight: 400;overflow: hidden;z-index: 1;position: relative;border-radius:5px;padding:12px 15px")
                                div(style="width:100%")
                                  div(style='text-align:left')
                                    h4(style="margin: 0px;") Step 2
                                    p Once you hear the welcome message, dial the number you want to call followed by the # key. If you want to hear your current balance, just wait a second before dialing.
                        
                        tr
                          td
                            div(style='padding: 0px;margin: inherit;display: flex;')
                              div
                              div(style="background: #f6f6f6;border-radius:5px;min-height: inherit;width:100%;margin: 8px;box-sizing: border-box;display: flex;flex-direction: column;font-size: 16px;font-weight: 400;overflow: hidden;z-index: 1;position: relative;border-radius:5px;padding:12px 15px")
                                div(style="width:100%")
                                  div(style='text-align:left')
                                    h4(style="margin: 0px;") Step 3
                                    p That's it! The third step is to wait for an email with your call transcript, or #[a(href='https://' + config.hostname + '/dashboard') visit the Transcord website] to see and listen to your calls.


                    