extends layout

block content
                    table(style='background-color:#ffffff;text-align:center;width:100%;margin:0 auto;')
                      tbody
                        tr(style="height:20px")
                        tr
                          td
                            h2(style='color:#4a4a4a;text-align:center;font-size:24px;font-weight:lighter;font-family:Helvetica,Arial') Welcome to Transcord!
                            p(style='color:#4a4a4a;font-size:12px;text-align:center;font-family:Helvetica,Arial') Welcome !{user.name},
                            p(style='color:#4a4a4a;font-size:12px;text-align:center;font-family:Helvetica,Arial') Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pellentesque, nibh eget venenatis elementum, dolor erat fringilla urna, vel congue dolor nunc ac neque. Mauris id cursus lectus. Morbi aliquam, ligula in faucibus congue, sem nulla rutrum turpis, mattis convallis turpis lorem vel turpis. Nullam non interdum ex. Nulla at leo eget ante congue suscipit. Pellentesque placerat quam augue, id lobortis justo elementum quis.
                            p(style='color:#4a4a4a;font-size:12px;text-align:center;font-family:Helvetica,Arial') Henry Williams, Founder

                        tr(style="height:20px")
                        tr
                          td
                            div(style='padding: 0px;margin: inherit;display: flex;')
                              div
                              div(style="background: #f6f6f6") + ";border-radius:5px;min-height: inherit;width:100%;margin: 8px;box-sizing: border-box;display: flex;flex-direction: column;font-size: 16px;font-weight: 400;overflow: hidden;z-index: 1;position: relative;border-radius:5px")
                                div(style="width:100%")
                                  div(style='text-align:left')
                                    h6(style="font-size:12px;margin: 0px;")
                                    p Step 1?
                                    p Some other stuff?
                    