extends layout

block content
  div
    table
      thead
        tr: th Recording
      tbody
        each recording in user.recordings
          tr
            td
              recording.recordingUrl !{recording.recordingUrl}
