extends layout

block content
  div
    table
      thead
        tr.head
          th Start Time
          th To
          th Duration
          th Audio
      tbody
        each recording in user.recordings
          tr
            td
              !{moment(recording.statTime).format('MM/DD/YYYY')}
            td
              !{recording.numberCalledFormatted}
            td
              !{moment.utc(recording.duration*1000).format('HH:mm:ss')}
            td
              audio(controls='')
                source(src=recording.recordingUrl, type='audio/wav')
