extends layout

block content
  div
    table
      thead
        tr: th Recording
      tbody
        each recording, i in user.recordings
          tr
            td
              recording.recordingUrl !{recording.url}
